.glyphBookmark {
    background: rgb(57, 9, 120, 0.6); /* #390978 */
}
.contentBookmark {
    background: rgb(57, 9, 120, 0.6);
}
.glyphComment {
    background: rgb(120, 120, 38, 0.6); /* #787826 */
}
.contentComment {
    background: rgb(120, 120, 38, 0.6);
}
/* .glyphChild-5 {
    background: rgba(38, 120, 120, 0.1);
}
.contentChild-5 {
    background: rgba(38, 120, 120, 0.1);
}
.glyphChild-4 {
    background: rgba(38, 120, 120, 0.1);
}
.contentChild-4 {
    background: rgba(38, 120, 120, 0.1);
} */
.glyphChild-3 {
    background: rgba(38, 120, 120, 0.2);
}
.contentChild-3 {
    background: rgba(38, 120, 120, 0.2);
}
.glyphChild-2 {
    background: rgba(38, 120, 120, 0.4);
}
.contentChild-2 {
    background: rgba(38, 120, 120, 0.4);
}
.glyphChild-1 {
    background: rgba(38, 120, 120, 0.8); /* #267878 */
}
.contentChild-1 {
    background: rgba(38, 120, 120, 0.8);
}
.glyphParent1 {
    background: rgba(120, 38, 79, 0.8); /* #78264f */
}
.contentParent1 {
    background: rgba(120, 38, 79, 0.8);
}
.glyphParent2 {
    background: rgba(120, 38, 79, 0.4);
}
.contentParent2 {
    background: rgba(120, 38, 79, 0.4);
}
.glyphParent3 {
    background: rgba(120, 38, 79, 0.2);
}
.contentParent3 {
    background: rgba(120, 38, 79, 0.2);
}
/* .glyphParent4 {
    background: rgba(120, 38, 79, 0.1);
}
.contentParent4 {
    background: rgba(120, 38, 79, 0.1);
}
.glyphParent5 {
    background: rgba(120, 38, 79, 0.1);
}
.contentParent5 {
    background: rgba(120, 38, 79, 0.1);
} */
.glyphSelect {
    background: rgba(120, 79, 38, 0.8); /* #784f26 */
}
.contentSelect {
    background: rgba(120, 79, 38, 0.8);
}
.glyphVariable {
    background: rgba(38, 79, 120, 0.8); /* #264F78 */
}
.contentVariable {
    background: rgba(38, 79, 120, 0.8);
}
.glyphCursor {
    background: rgba(255, 255, 0, 0.8);
}
.contentCursor {
    background: rgba(255, 255, 0, 0.05);
}
