* {
    font-family: monospace;
    font-size: 15px;
    font-weight: 100;
}
.ui {
    display: flex;
    width: 100%;
}
.dropdown {
    width: 10%;
    padding: 2px;
    color: white;
    background-color: rgb(40, 40, 40);
    box-sizing: border-box;
}
.statusInput {
    display: flex;
    width: inherit;
}
.input {
    box-sizing: border-box;
}
#sInput {
    width: 100%;
    padding-left: 10px;
    color: white;
    background-color: rgb(40, 40, 40);
}
#sDisplay {
    text-align: center;
    width: 10%;
    color: rgb(40, 40, 40);
    pointer-events: none;
}
.modalHeader {
    padding: 5px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.pre-wrapper {
    width: 100%;
    height: 90%;
    overflow: hidden;
}
.pre-wrapper pre {
    font-size: 11.5px;
}
/* #keybindImage {
    max-width: 100%;
    max-height: 90%;
} */
.ttWrapper {
    width: 100%;
    height: 90%;
}
.ttCanvas {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.8);
}
.link {
    fill: none;
    stroke-width: 1.5px;
}
#hLink {
    stroke: rgba(0, 255, 255, 0.3);
}
#vLink {
    stroke: rgba(255, 0, 255, 0.3);
}
#hArrow {
    fill: rgba(0, 255, 255, 0.6);
}
#vArrow {
    fill: rgba(255, 0, 255, 0.6);
}
.node {
    fill: rgb(0, 255, 0);
}
#startNode {
    fill: rgb(255, 255, 0);
}
#endNode {
    fill: rgb(0, 0, 255);
}
#nodeText {
    fill: white;
    text-shadow: 2px 2px 4px black;
    pointer-events: none;
}
